body::-webkit-scrollbar {
  display: none;
}
body{ 
  background-image: url("https://i.imgur.com/VXj4bVD.png");
	background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
img{
  position: fixed;
}
#topic{
  left: 1vw;
  top: -12vh;
  height:120vh;
  width:100vw;
  z-index:1;
}
#prev{ 
  width: 5%;
  bottom: 5vh;
  z-index:2;
  right:30vw;
}
#next{
  z-index:2;
  width: 5%;
  bottom: 5vh;
  right: 15vw;
}
#more{
  z-index:2;
  width: 15%;
  bottom: 0vh;
  right:17vw;
}
